#colibris-menu {
	position: relative;
	top: 0;
	left: 0;
	right: 0;
	background: $colorDark;
	color: $colorWhite;
	height: 24px;
	z-index: 0;
}
#archipel {
	background: $colorDark;
	color: $colorWhite;
	font-size: 0.75rem;
	line-height: 0.8rem;
	font-family: "geomanistlight", sans-serif;
	text-align: right;

	a {
		color: $colorWhite;
		text-transform: uppercase;
		font-family: "geomanistmedium", sans-serif;
		transition: color 0.3s ease-out, background 3s ease-in;
		text-decoration: none;

		&.current,
		&:hover {
			color: $colorGreen;
		}
	}

	.social-links a {
		color: transparent !important;

		&:hover::before,
		&:focus::before {
			opacity: 0.3;
		}
	}
}
