.content {
	display: flex;
	flex-wrap: wrap;
	align-content: flex-start;
	padding: 30px 30px 30px 0;
	width: calc(100% - 30px);
	// We will set min-height from JavaScript, accounting for the
	// height of the footer, which can vary.
	//min-height: calc(100vh - 50px - 33px - <height of the footer>);
	transition: margin-left 0.5s;
	-webkit-overflow-scrolling: touch;
	max-width: calc(100vw - 10px);

	&::before {
		content: "";
		position: absolute;
		left: 0;
		width: 100%;
		height: 1px;
		background: white(0.02);
	}

	&--sidebar {
		width: calc(100% - 380px);
	}

	// Animations -------------------------------------------------------------- //
	&.contentZoomIn .album,
	&.contentZoomIn .photo {
		animation-name: zoomIn;
	}

	&.contentZoomIn .divider {
		animation-name: fadeIn;
	}

	&.contentZoomOut .album,
	&.contentZoomOut .photo {
		animation-name: zoomOut;
	}

	&.contentZoomOut .divider {
		animation-name: fadeOut;
	}

	// Albums and Photos ------------------------------------------------------ //
	.album,
	.photo {
		position: relative;
		width: 202px;
		height: 202px;
		margin: 30px 0 0 30px;
		cursor: default;

		animation-duration: 0.2s;
		animation-fill-mode: forwards;
		animation-timing-function: $timing;

		.thumbimg {
			position: absolute;
			width: 200px;
			height: 200px;
			background: $colorWhite;
			color: $colorDark;
			box-shadow: $shadow;
			border: 1px solid $colorWhite;
			transition: opacity 0.3s ease-out, transform 0.3s ease-out,
				border-color 0.3s ease-out;
			border-radius: 5px;
		}

		.thumbimg > img {
			width: 100%;
			height: 100%;
			border-radius: 5px;
		}

		&:hover .thumbimg,
		&.active .thumbimg {
			border-color: $colorGreen;
		}

		&:active .thumbimg {
			transition: none;
			border-color: darken($colorGreen, 15%);
		}

		&.selected img {
			outline: 1px solid $colorGreen;
		}

		.video {
			&::before {
				content: "";
				position: absolute;
				display: block;
				height: 100%;
				width: 100%;
				background: url("../img/play-icon.png") no-repeat 46% 50%;
				transition: all 0.3s;
				will-change: opacity, height;
			}
			&:hover::before {
				opacity: 0.75;
			}
		}
	}

	// Album -------------------------------------------------------------- //
	.album {
		.thumbimg:first-child,
		.thumbimg:nth-child(2) {
			transform: rotate(0) translateY(0) translateX(0);
			opacity: 0;
		}

		&:hover .thumbimg:nth-child(1),
		&:hover .thumbimg:nth-child(2) {
			opacity: 1;
			// Keep the composited layer created by the browser during the animation.
			// Makes the border of the transformed thumb look better.
			// See https://github.com/electerious/Lychee/pull/626 for more.
			will-change: transform;
		}

		&:hover .thumbimg:nth-child(1) {
			transform: rotate(-2deg) translateY(10px) translateX(-12px);
		}

		&:hover .thumbimg:nth-child(2) {
			transform: rotate(5deg) translateY(-8px) translateX(12px);
		}
	}

	// Overlay -------------------------------------------------------------- //
	.album .overlay,
	.photo .overlay {
		position: absolute;
		margin: 0 1px;
		width: 200px;
		background: linear-gradient(to bottom, black(0), black(0.6));
		bottom: 1px;
		border-bottom-left-radius: 5px;
		border-bottom-right-radius: 5px;
	}

	// No overlay for empty albums
	.album .thumbimg[data-overlay="false"] + .overlay {
		background: none;
	}

	.photo .overlay {
		opacity: 0;
	}

	.photo:hover .overlay,
	.photo.active .overlay {
		opacity: 1;
	}

	.album .overlay h1,
	.photo .overlay h1 {
		min-height: 19px;
		width: 180px;
		margin: 12px 0 5px 15px;
		color: #fff;
		text-shadow: 0 1px 3px black(0.4);
		font-size: 16px;
		font-weight: bold;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
	}

	.album .overlay a,
	.photo .overlay a {
		display: block;
		margin: 0 0 12px 15px;
		font-size: 11px;
		color: #ccc;
		text-shadow: 0 1px 3px black(0.4);
	}

	.photo .overlay a .iconic {
		fill: #ccc;
		margin: 0 5px 0 0;
		width: 8px;
		height: 8px;
	}

	.album .thumbimg[data-overlay="false"] + .overlay h1,
	.album .thumbimg[data-overlay="false"] + .overlay a {
		text-shadow: none;
	}

	// Badge -------------------------------------------------------------- //
	.album .badges,
	.photo .badges {
		position: relative;
		margin: -1px 0 0 6px;
	}

	.album .subalbum_badge {
		position: absolute;
		right: 0;
		top: 0;
		//margin: -1px 0 0 6px;
	}

	.album .badge,
	.photo .badge {
		display: none;
		margin: 0 0 0 6px;
		padding: 12px 8px 6px;
		width: 18px;
		background: $colorRed;
		box-shadow: 0 0 2px black(0.6);
		border-radius: 0 0 5px 5px;
		border: 1px solid #fff;
		border-top: none;
		color: #fff;
		text-align: center;
		text-shadow: 0 1px 0 black(0.4);
		opacity: 0.9;

		&--visible {
			display: inline-block;
		}

		&--not--hidden {
			background: $colorGreen;
		}

		&--hidden {
			background: $colorOrange;
		}

		&--star {
			display: inline-block;
			background: $colorYellow;
		}

		&--list {
			background: $colorGreen;
		}

		.iconic {
			fill: #fff;
			width: 16px;
			height: 16px;
		}

		&--folder {
			display: inline-block;
			box-shadow: none;
			background: none;
			border: none;

			.iconic {
				width: 12px;
				height: 12px;
			}
		}
	}

	// Divider -------------------------------------------------------------- //
	.divider {
		margin: 50px 0 0;
		padding: 10px 0 0;
		width: 100%;
		opacity: 0;
		border-top: 1px solid white(0.02);
		box-shadow: $shadow;

		animation-duration: 0.2s;
		animation-fill-mode: forwards;
		animation-timing-function: $timing;

		&:first-child {
			margin-top: 10px;
			border-top: 0;
			box-shadow: none;
		}

		h1 {
			margin: 0 0 0 30px;
			color: $colorDark;
			font-size: 1.2em;
			font-weight: bold;
			text-transform: uppercase;
		}
	}
}

// No content -------------------------------------------------------------- //
.no_content {
	position: absolute;
	top: 50%;
	left: 50%;
	padding-top: 20px;
	color: white(0.35);
	text-align: center;
	transform: translateX(-50%) translateY(-50%);

	.iconic {
		fill: white(0.3);
		margin: 0 0 10px;
		width: 50px;
		height: 50px;
	}

	p {
		font-size: 16px;
		font-weight: bold;
	}
}

.leftMenu__open {
	margin-left: 250px;
	width: calc(100% - 280px);
}
