.header {
	position: relative;
	height: 80px;
	width: 100%;
	background: $colorWhite;
	color: $colorDark;
	z-index: 1;
	transition: transform 0.3s ease-out;

	// Modes -------------------------------------------------------------- //
	&--hidden {
		transform: translateY(-60px);
	}

	&--loading {
		transform: translateY(2px);
	}

	&--error {
		transform: translateY(40px);
	}

	&--view {
		background: none;
		border-bottom: none;

		&.header--error {
			background-color: rgba(10, 10, 10, 0.99);
		}
	}

	// Toolbars -------------------------------------------------------------- //
	&__toolbar {
		display: none;
		align-items: center;
		position: relative;
		box-sizing: border-box;
		width: 100%;
		height: 100%;
		padding: 0 10px;

		&--visible {
			display: flex;
		}
	}

	// logo -------------------------------------------------------------- //
	&__logo {
		display: inline-block;
		width: 420px;
		height: 60px;
		background: url(../Lychee-front/images/logo-photos.svg) 0px 10px
			no-repeat;
		margin-left: 30px;
	}
	// Title -------------------------------------------------------------- //
	&__title {
		width: 100%;
		padding: 16px 0;
		color: $colorDark;
		font-family: "geomanistmedium", sans-serif;
		font-size: 18px;
		font-weight: bold;
		text-align: center;
		cursor: default;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
		transition: margin-left 0.5s;

		.iconic {
			display: none;
			margin: 0 0 0 5px;
			width: 10px;
			height: 10px;
			fill: $colorDark;
			transition: fill 0.2s ease-out;
		}

		&:hover .iconic {
			fill: $colorGreen;
		}

		&:active .iconic {
			transition: none;
			fill: $colorGreen;
		}

		&--editable .iconic {
			display: inline-block;
		}
	}

	// Buttons -------------------------------------------------------------- //
	.button {
		flex-shrink: 0;
		padding: 16px 8px;
		height: 15px;

		.iconic {
			width: 15px;
			height: 15px;
			fill: $colorDark;
			transition: fill 0.2s ease-out;
		}

		&:hover .iconic {
			fill: $colorGreen;
		}

		&:active .iconic {
			transition: none;
			fill: $colorGreen;
		}

		&--star.active .iconic {
			fill: $colorYellow;
		}

		&--eye.active .iconic {
			fill: $colorRed;
		}

		&--eye.active--not-hidden .iconic {
			fill: $colorGreen;
		}

		&--eye.active--hidden .iconic {
			fill: $colorOrange;
		}

		&--share .iconic.ionicons {
			margin: -2px 0 -2px;
			width: 18px;
			height: 18px;
		}

		&--info.active .iconic {
			fill: $colorBlue;
		}
	}

	#button_settings,
	#button_signin {
		padding: 16px 48px 16px 8px;
	}

	// Divider -------------------------------------------------------------- //
	&__divider {
		flex-shrink: 0;
		width: 14px;
	}

	// Search -------------------------------------------------------------- //
	&__search {
		flex-shrink: 0;
		width: 80px;
		margin: 0;
		padding: 5px 12px 6px 12px;
		background-color: $colorWhite;
		color: $colorDark;
		border: 1px solid $colorDark;
		box-shadow: $shadow;
		outline: none;
		border-radius: 50px;
		transition: opacity 0.3s ease-out, box-shadow 0.3s ease-out,
			width 0.2s ease-out;

		&:focus {
			width: 140px;
			border-color: $colorGreen;
			box-shadow: 0 1px 0 white(0);
			opacity: 1;
		}

		&:focus ~ .header__clear {
			opacity: 1;
		}

		&::-ms-clear {
			display: none;
		}
	}

	.header__search::placeholder {
		color: $colorDark;
	}

	&__clear {
		position: absolute;
		right: 90px;
		padding: 0;
		color: white(0.5);
		font-size: 30px;
		opacity: 0;
		transition: color 0.2s ease-out;
		cursor: default;

		&:hover {
			color: white(1);
		}
	}

	&__clear_nomap {
		right: 60px;
	}

	&__clear_public {
		right: 17px;
	}

	&__toolbar--photo {
		margin-top: -35px;

		a {
			color: $colorWhite;
		}
		.iconic,
		.button .iconic {
			fill: $colorWhite;
		}
	}

	// Hosted with -------------------------------------------------------------- //
	&__hostedwith {
		flex-shrink: 0;
		padding: 5px 10px;
		margin: 11px 0;
		color: #888;
		font-size: 13px;
		border-radius: 100px;
		cursor: default;

		&:hover {
			background-color: black(0.3);
		}
	}

	.leftMenu__open {
		margin-left: 250px;
	}
}
