#imageview {
	position: fixed;
	display: none;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(10, 10, 10, 0.98);
	transition: background-color 0.3s;

	// Modes -------------------------------------------------------------- //
	&.view {
		background-color: inherit;
	}

	&.full {
		background-color: black(1);
		cursor: none;
	}

	// ImageView -------------------------------------------------------------- //
	#image {
		position: absolute;
		top: 60px;
		right: 30px;
		bottom: 30px;
		left: 30px;
		margin: auto;
		max-width: calc(100% - 60px);
		max-height: calc(100% - 90px);
		width: auto;
		height: auto;
		transition: top 0.3s, right 0.3s, bottom 0.3s, left 0.3s, max-width 0.3s,
			max-height 0.3s;

		animation-name: zoomIn;
		animation-duration: 0.3s;
		animation-timing-function: $timingBounce;
		background-size: contain;
		background-position: center;
		background-repeat: no-repeat;

		@media (max-width: 640px) {
			top: 60px;
			right: 20px;
			bottom: 20px;
			left: 20px;
			max-width: calc(100% - 40px);
			max-height: calc(100% - 80px);
		}
	}

	&.full #image {
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		max-width: 100%;
		max-height: 100%;
	}

	&.image--sidebar #image {
		right: 380px;
		max-width: calc(100% - 410px);

		@media (max-width: 640px) {
			right: 370px;
			max-width: calc(100% - 390px);
		}
	}

	#image_overlay {
		position: absolute;
		bottom: 30px;
		left: 30px;
		color: #ffffff;
		text-shadow: 1px 1px 2px #000000;

		h1 {
			visibility: hidden;
			opacity: 0;
			font-size: 28px;
			font-weight: 500;
			transition: visibility 0.3s linear, opacity 0.3s linear;
		}

		p {
			margin-top: 5px;
			font-size: 20px;
			line-height: 24px;
		}
	}

	&.full #image_overlay h1 {
		visibility: visible;
		opacity: 1;
	}

	// Previous/Next Buttons -------------------------------------------------------------- //
	.arrow_wrapper {
		position: fixed;
		width: 15%;
		height: calc(100% - 60px);
		top: 60px;

		&--previous {
			left: 0;
		}

		&--next {
			right: 0;
		}

		@media (max-width: 640px) {
			display: none;
		}

		a {
			position: fixed;
			top: 50%;
			margin: -19px 0 0;
			padding: 32px 48px;
			width: 16px;
			height: 22px;
			// The background-image will be styled dynamically via JS
			// background-image: linear-gradient(to bottom, rgba(0, 0, 0, .4), rgba(0, 0, 0, .4)), url('');
			background-size: 100% 100%;
			border: 1px solid white(0.8);
			opacity: 0.6;
			z-index: 2;
			transition: transform 0.2s ease-out, opacity 0.2s ease-out;
			will-change: transform;

			&#previous {
				left: -1px;
				transform: translateX(-100%);
			}

			&#next {
				right: -1px;
				transform: translateX(100%);
			}
		}

		&:hover a#previous,
		&:hover a#next {
			transform: translateX(0);
		}

		a:hover {
			opacity: 1;
		}

		.iconic {
			fill: white(0.8);
		}
	}

	&.image--sidebar .arrow_wrapper {
		&--next {
			right: 350px;
		}

		a {
			&#next {
				right: 349px;
			}
		}
	}

	// We must not allow the wide next/prev arrow wrappers to cover the
	// on-screen buttons in videos.  This is imperfect as now the video
	// covers part of the background image.
	video {
		z-index: 1;
	}
}
