// Functions --------------------------------------------------------------- //
@function black($opacity) {
	@return rgba(0, 0, 0, $opacity);
}

@function white($opacity) {
	@return rgba(255, 255, 255, $opacity);
}

// Properties -------------------------------------------------------------- //
// $shadow: 0 -1px 0 black(0.2);
$shadow: none;

// Colors ------------------------------------------------------------------ //
$colorDark: #5a696b;
$colorDarkNeutral: #e9e9e9;
$colorWhiteNeutral: #e9e9e9;
$colorWhite: #fff;
$colorBlue: #87b4c3;
$colorRed: #d76e82;
$colorGreen: #64d29b;
$colorYellow: #facd14;
$colorOrange: #e68c1e;

// Animations -------------------------------------------------------------- //
$timing: cubic-bezier(0.51, 0.92, 0.24, 1);
$timingBounce: cubic-bezier(0.51, 0.92, 0.24, 1.15);

// Fonts      -------------------------------------------------------------- //
@font-face {
	font-family: "ubunturegular";
	src: url("../Lychee-front/fonts/ubuntu/ubuntu-r-webfont.woff2")
			format("woff2"),
		url("../Lychee-front/fonts/ubuntu/ubuntu-r-webfont.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "geomanistlight";
	src: url("../Lychee-front/fonts/geomanist/geomanist-light-webfont.eot");
	src: url("../Lychee-front/fonts/geomanist/geomanist-light-webfont.eot?#iefix")
			format("embedded-opentype"),
		url("../Lychee-front/fonts/geomanist/geomanist-light-webfont.woff2")
			format("woff2"),
		url("../Lychee-front/fonts/geomanist/geomanist-light-webfont.woff")
			format("woff"),
		url("../Lychee-front/fonts/geomanist/geomanist-light-webfont.ttf")
			format("truetype"),
		url("../Lychee-front/fonts/geomanist/geomanist-light-webfont.svg#geomanistregular")
			format("svg");
	font-weight: normal;
	font-style: normal;
}

// @font-face {
// 	font-family: "geomanistbook";
// 	src: url("../Lychee-front/fonts/geomanist/geomanist-book-webfont.eot");
// 	src: url("../Lychee-front/fonts/geomanist/geomanist-book-webfont.eot?#iefix")
// 			format("embedded-opentype"),
// 		url("../Lychee-front/fonts/geomanist/geomanist-book-webfont.woff2")
// 			format("woff2"),
// 		url("../Lychee-front/fonts/geomanist/geomanist-book-webfont.woff")
// 			format("woff"),
// 		url("../Lychee-front/fonts/geomanist/geomanist-book-webfont.ttf")
// 			format("truetype"),
// 		url("../Lychee-front/fonts/geomanist/geomanist-book-webfont.svg#geomanistregular")
// 			format("svg");
// 	font-weight: normal;
// 	font-style: normal;
// }

@font-face {
	font-family: "geomanistmedium";
	src: url("../Lychee-front/fonts/geomanist/geomanist-medium-webfont.eot");
	src: url("../Lychee-front/fonts/geomanist/geomanist-medium-webfont.eot?#iefix")
			format("embedded-opentype"),
		url("../Lychee-front/fonts/geomanist/geomanist-medium-webfont.woff2")
			format("woff2"),
		url("../Lychee-front/fonts/geomanist/geomanist-medium-webfont.woff")
			format("woff"),
		url("../Lychee-front/fonts/geomanist/geomanist-medium-webfont.ttf")
			format("truetype"),
		url("../Lychee-front/fonts/geomanist/geomanist-medium-webfont.svg#geomanistregular")
			format("svg");
	font-weight: normal;
	font-style: normal;
}

// @font-face {
// 	font-family: "geomanistbold";
// 	src: url("../Lychee-front/fonts/geomanist/geomanist-bold-webfont.eot");
// 	src: url("../Lychee-front/fonts/geomanist/geomanist-bold-webfont.eot?#iefix")
// 			format("embedded-opentype"),
// 		url("../Lychee-front/fonts/geomanist/geomanist-bold-webfont.woff2")
// 			format("woff2"),
// 		url("../Lychee-front/fonts/geomanist/geomanist-bold-webfont.woff")
// 			format("woff"),
// 		url("../Lychee-front/fonts/geomanist/geomanist-bold-webfont.ttf")
// 			format("truetype"),
// 		url("../Lychee-front/fonts/geomanist/geomanist-bold-webfont.svg#geomanistregular")
// 			format("svg");
// 	font-weight: bold;
// 	font-style: normal;
// }

// Rest -------------------------------------------------------------------- //
@import "../reset";
@import "colibris-nav";

* {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	transition: color 0.3s, opacity 0.3s ease-out, transform 0.3s ease-out,
		box-shadow 0.3s;
}

html,
body {
	min-height: 100vh;
	position: relative;
}

body {
	background-color: $colorWhiteNeutral;
	color: $colorDark;
	font-family: "ubunturegular", sans-serif;
	font-size: 16px;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-smoothing: antialiased;

	&.view {
		background-color: $colorWhiteNeutral;
	}
}

div#container {
	// If there is a footer, we will set padding-bottom to its height
	// using JavaScript since the height of the footer can vary.
	position: relative;
}

input {
	-webkit-user-select: text !important;
	-moz-user-select: text !important;
	-ms-user-select: text !important;
	user-select: text !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "geomanistmedium", sans-serif;
}

.svgsprite {
	display: none;
}

.iconic {
	width: 100%;
	height: 100%;
}

#upload {
	display: none;
}

// Files ------------------------------------------------------------------- //
@import "animations";
@import "content";
@import "leftMenu";
@import "basicContext.custom";
@import "basicContext.extended";
@import "basicModal.custom";
@import "header";
@import "imageview";
@import "mapview";
@import "sidebar";
@import "loading";
@import "message";
@import "settings";
@import "users";
@import "logs_diagnostics";
@import "sharing";
@import "multiselect";
@import "justified_layout";
@import "../page/footer";
@import "footer";
@import "social-footer";
@import "photo-links";
